#button {
    display: flex;
    justify-content: flex-end;

}

#button button {
    background: transparent;
    color: #fff;
    border: none;
    display: block;
    background-color: #012443;
    width: 75px;
    padding: 6px 20px;
    margin: 10px 0 0 0;
    border-radius: 3px;
    
}